h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: red;
}

.head { 
	/*horizontal range of the element*/
	width: 200px;
	/*browser defines margins.all auto values are 0*/ 
	margin: 0 auto;
	/*opposite of width*/ 
	height: 150px; 
	/*rounded corners*/
	border-radius: 200px 200px 0 0; 
	/*adds margin to the bottom of the element*/
	margin-bottom: 10px;

} 

.eyes {
	margin: 0 auto;

}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	/*horizontal size*/
	width: 300px; 
	/*vertical size*/
	height: 150px;
	display: flex;
	margin: 0 auto;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;

} 

.left_leg{
	margin-left: 40px;
	margin-top: 61px
}
/*size of the elements and roudned corners*/
.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

/*manipulation properties*/
.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-top: -120px;
	margin-left: 100px; 
}
/*manipulation properties*/
.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.left_eye, .right_eye {
	/*horizontal space*/ 
	width: 20px; 
	/*vertical space*/
	height: 20px;
	/*rounded corners*/ 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 50px; 
} 

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 120px; 
}





